/* голубой #2196F3 */
/* цвет основоного текста, абзацев #757575 */
/* белые слова #FFFFFF */
/* заголовки и навигация #212121 */
/* Raleway – 700, а для Roboto – 400, 500, 700 и 900 */

:root {
   --color-title: #212121;
   --color-main: #757575;
   --color-accent: #2196f3;
   --color-background: #2f303a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin-top: 0;
   margin-bottom: 0;
}

ul,
ol {
   margin-top: 0;
   margin-bottom: 0;
   padding-left: 0;
}

body {
   font-family: "Roboto", sans-serif;
   color: var(--color-main);
}

img {
   display: block;
}

/* Components */
.link {
   text-decoration: none;
   color: inherit;
}
.item {
   list-style: none;
}
.logo {
   display: block;
   padding: 24px 0;

   font-family: Raleway, sans-serif;
   letter-spacing: 0.03em;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   color: #000000;
}
.logo-accent {
   color: var(--color-accent);
}

.container {
   width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
/* End Components */

/* Header */

.page-header {
   border-bottom: 1px solid #ececec;
}
.page-header .container {
   display: flex;
   align-items: center;
}

.main-nav-list {
   display: flex;
   margin-left: 93px;
}

.link-main-nav {
   display: block;
   padding: 32px 0;

   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--color-title);
}

.link-main-nav:hover,
.link-main-nav:focus {
   color: var(--color-accent);
}

.main-nav-list-item {
   margin-left: 50px;
}

.main-nav-list-item:first-child {
   margin-left: 0;
}

.head-contact {
   display: flex;
   margin-left: auto;
}

.list-head-contact {
   margin-left: 50px;
}

.list-head-contact:first-child {
   margin-left: 0;
}

.link-contact {
   display: block;
   padding: 32px 0;

   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   color: var(--color-main);
}

.link-main-nav-accent {
   color: var(--color-accent);
}
.link-contact:hover,
.link-contact:focus {
   color: var(--color-accent);
}

/* End header */

/* Hero */
.section.background {
   background-color: var(--color-background);
}
.main-title {
   padding-top: 200px;

   font-weight: 900;
   font-size: 44px;
   line-height: 1.36;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;

   color: #ffffff;
}
.button {
   display: block;
   margin-top: 30px;
   padding: 10px 32px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;

   font-weight: 700;
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.06em;
   color: #ffffff;
   background: var(--color-accent);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   cursor: pointer;
   border: none;
}
.button:hover,
.button:focus {
   background-color: #188ce8;
}
/* End Hero */

/* Особенности сайта */
.title-second {
   visibility: hidden;
}

.feature-list {
   display: flex;
   padding-top: 67px;
   padding-bottom: 94px;
}

.feature-item + .feature-item {
   margin-left: 30px;
}

.feature-item {
   width: 270px;
}

.feature-title {
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: var(--color-title);
}
.text-feature {
   margin-top: 10px;

   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
}
/* End Особенностей сайта */

/* Чем мы занимаемся */
.list-description {
   display: flex;
   padding-bottom: 94px;
}

.item-description {
   margin-left: 30px;
}
.item-description:first-child {
   margin-left: 0;
}

.title-description {
   margin-bottom: 50px;

   font-size: 36px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-align: center;
   color: var(--color-title);
}
/* End чем мы занимаемся */

/* Our team */
.section.team {
   background: #f5f4fa;
}

.title-team {
   padding-top: 94px;

   font-size: 36px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-align: center;
   color: var(--color-title);
}

.list-team {
   display: flex;
   padding-bottom: 94px;
   margin-top: 50px;
}

.item-team + .item-team {
   margin-left: 30px;
}

.item-team {
   background: #ffffff;
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}

.title-name-team {
   margin-top: 30px;

   font-weight: 500;
   font-size: 16px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   text-align: center;
   color: var(--color-title);
}
.profession {
   margin-top: 10px;
   padding-bottom: 30px;

   font-size: 16px;
   line-height: 1.19;
   letter-spacing: 0.03em;
   text-align: center;
}
/* End our team */

/* Footer */
footer {
   background-color: var(--color-background);
}

footer .logo {
   padding-top: 60px;
   padding-bottom: 0;
}

.list-contact {
   margin-top: 20px;
}

.link-adress {
   font-size: 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   font-style: normal;
   color: #ffffff;
}
.link-tel-email {
   font-size: 14px;
   font-style: normal;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: rgba(255, 255, 255, 0.6);
}
.logo-footer {
   color: #ffffff;
}

/* Portfolio */
.button-portfolio {
   background: #f5f4fa;
   border-radius: 4px;
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.62;
   letter-spacing: 0.03em;
   text-align: center;
   color: var(--color-title);
   border: none;

   cursor: pointer;
}
.button-portfolio:hover,
.button-portfolio:focus {
   color: #ffffff;
   background: var(--color-accent);
}
.title-cards {
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   color: var(--color-title);
}
.description-cards {
   font-size: 16px;
   line-height: 1.87;
   letter-spacing: 0.03em;
   color: var(--color-main);
}
